.main {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;
}

.mainWrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 100px;
}

.pfp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container img {
  width: 9%;
  margin-bottom: 10px;
}

.mainWrapper .reactLogo {
  position: absolute;
  top: 110px;
  left: 40%;
  width: 35px;
}

.mainWrapper .javascriptLogo {
  position: absolute;
  top: 15px;
  left: 37%;
  width: 28px;
}

.mainWrapper .githubLogo {
  position: absolute;
  top: 5px;
  right: 41%;
  width: 28px;
}

.mainWrapper .linuxLogo {
  position: absolute;
  top: 90px;
  right: 38%;
  width: 35px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
  position: relative;
  z-index: 7;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

.mainDescription {
  font-size: 56px;
  text-align: center;
  width: 60%;
  font-weight: bold;
}

.description {
  text-align: center;
  width: 40%;
  color: rgba(211, 211, 211, 0.495);
  font-weight: 400;
  font-size: 22px;
}

.mainButton {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 12px;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(to right, #823fee, #1756dd);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.slidingTextContainer {
  position: absolute;
  bottom: -40px;
  color: #ffffff09;
  font-size: 50vh;
  white-space: nowrap;
  width: 50%;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .mainWrapper .reactLogo {
    left: 20%;
  }

  .mainWrapper .javascriptLogo {
    left: 16%;
  }

  .mainWrapper .githubLogo {
    right: 22%;
  }

  .mainWrapper .linuxLogo {
    right: 20%;
  }

  .container {
    gap: 18px;
  }
  .container img {
    width: 32%;
  }
  h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .mainDescription {
    font-size: 32px;
    width: 90%;
  }
  .description {
    font-size: 16px;
    width: 85%;
    line-height: 24px;
  }
  .mainButton {
    font-size: 14px;
    margin-top: 18px;
  }
  .slidingTextContainer {
    position: absolute;
    bottom: -40px;
    color: #ffffff09;
    font-size: 50vh;
    white-space: nowrap;
    width: 50%;
    font-weight: normal;
  }
}
