.about {
  background: linear-gradient(180deg, #111132, #0c0c1d);
  position: relative;
}

.aboutWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 100px 0 100px 0;
}

.aboutContainer h1 {
  font-size: 56px;
  font-weight: 600;
}

.aboutContent {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 60px;
}

.aboutContent img {
  width: 20%;
  border-radius: 18px;
}

.aboutRightContainer {
  font-size: 18px;
  max-width: 500px;
  width: 70%;
}

.textPara {
  margin-top: 20px;
}

.resumeButton {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 32px;
  padding: 0.6rem 1.5rem;
  background: linear-gradient(to right, #823fee, #1756dd);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  width: 140px;
}

@media screen and (max-width: 768px) {
  .aboutContent {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  .aboutContainer {
    margin-top: 160px;
  }
  .aboutContainer h1 {
    font-size: 32px;
  }
  .aboutContent img {
    width: 80%;
  }
  .aboutRightContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 90%;
  }
}
