.navbar {
  height: 100px;
}

.wrapper {
  max-width: 1266px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-weight: bold;
  font-size: 18px;
}

.social {
  display: flex;
  gap: 20px;
  z-index: 2;
}

.social a img {
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 768px) {
  .wrapper span {
    display: none;
  }

  .wrapper {
    justify-content: flex-end;
    padding: 20px;
  }
}
