* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
  overflow-x: hidden;
}

body::before {
  content: "";
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 94px 90px;
  color: rgb(113 113 113 / 10%);
  position: fixed;
  z-index: 1;
  background-color: transparent;
  transition: all 0.5s linear;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

::-webkit-scrollbar-track {
  background: #222a35;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(211, 211, 211, 0.696);
}
